* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root {
  height: 97vh;
  width: 100vw;
}
header {
  background-color: white;
}
.active {
  border-bottom: 2px solid red;
}
