<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body class="h-[100vh] flex flex-col justify-center items-center bg-cyan-400">
    <form
      method="POST"
      action="/product/addproduct"
      enctype="multipart/form-data"
      class="flex flex-col items-center"
    >
      <label for="originalPrice">originalPrice</label>
      <input type="number" name="originalPrice" required />
      <label for="currentPrice">currentPrice</label>
      <input type="number" name="currentPrice" required />
      <label for="ratingStar">ratingStar</label>
      <input type="number" name="ratingStar" step="0.1" required />
      <label for="ratingCount">ratingCount</label>
      <input type="number" name="ratingCount" required />
      <label for="brand">brand</label>
      <input type="text" name="brand" required />
      <label for="description">description</label>
      <input type="text" name="description" required />
      <label for="specialMessage">specialMessage</label>
      <input type="text" name="specialMessage" required />
      <label for="imageUrl1">Image1</label>
      <input type="file" name="imageUrl1" accept="image/*" required />
      <label for="imageUrl2">Image2</label>
      <input type="file" name="imageUrl2" accept="image/*" required />
      <label for="imageUrl3">Image3</label>
      <input type="file" name="imageUrl3" accept="image/*" required />
      <label for="imageUrl4">Image4</label>
      <input type="file" name="imageUrl4" accept="image/*" required />
      <label for="imageUrl5">Image5</label>
      <input type="file" name="imageUrl5" accept="image/*" required />
      <button type="submit">Save</button>
    </form>
  </body>
</html>
